[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "3.13.1"
status = "*"
pillow = "*"
django-dotenv = "*"
emailservice = "*"
django-filter = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"

[dev-packages]
isort = "*"

[requires]
python_version = "3.11"
